
  <section class="similar proposals">
    <div class="row">
      <div class="more-information text small-12 medium-8 column">
        <h2>
          <%= t("proposals.show.similar_proposals_title") %>
          (<%= @proposal.similar_count %>)
        </h2>
          <table>
            <tr>
              <% @proposal.similars(@proposal.id).each do |s| %>
              <td>
                <a href="<%= s.id %>"> <%= s.title %> </a>
              </td>
              <% end %>
            </tr>
          </table>        
      </div>
    </div>
  </section>
